.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 50px;
  z-index: 1000;
  display: flex;
  align-items: center;
  pointer-events: none;

  .link {
    position: absolute;
    top: calc(50vh - (var(--logo-height) / 2));
    left: calc(50vw - (var(--logo-width) / 2));
    width: var(--logo-width);
    height: var(--logo-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: all;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;

    &:focus {
      outline: none;
    }

    .link_logo {
      transition: 0.08s;

      &:hover {
        transform: rotate(1deg) scale(1.05);
      }

      svg {
        width: var(--logo-width);
        height: var(--logo-height);
        margin: 0px 16px;
        transition: 0.5s;
      }
    }

    &.small {
      top: 50px;
      left: 50px;
      --logo-width: 110px;
      --logo-height: 100px;
    }

    .link_text {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 25px;
      font-weight: 500;
      position: relative;
      opacity: 0;
      top: -25px;
      transition: 0.5s;
      color: var(--main-color);
      text-shadow: 2px 0px 0px var(--shadow-color);

      &.visible {
        opacity: 1;
        top: 0px;
      }
    }
  }

  .menu {
    margin: 0;
    margin-left: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    padding: 0;
    font-size: 50px;
    font-weight: 400;
    pointer-events: all;

    a {
      text-decoration: none;
      cursor: pointer;
      transition: 0.1s;

      &:hover {
        color: var(--main-color);
      }

      &:focus {
        outline: none;
      }
    }

    .active {
      color: var(--main-color);
      text-shadow: 4px 0px 0px var(--shadow-color);
    }
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .header {
    padding: 20px;

    .link {
      top: calc(47vh - (var(--logo-height) / 2));

      &.small {
        top: 20px;
        left: 20px;
        --logo-width: 77px;
        --logo-height: 70px;
      }

      .link_logo:hover {
        transform: none;
      }

      .link_text {
        font-size: 16px;
        text-shadow: 1px 0px 0px var(--shadow-color);
      }
    }

    .menu {
      font-size: 32px;

      .active {
        text-shadow: 2.5px 0px 0px var(--shadow-color);
      }
    }
  }
}

/* Mobile OLD*/
@media only screen and (max-width: 380px) {
  .header {
    padding: 10px;

    .link {
      &.small {
        --logo-width: 55px;
        --logo-height: 50px;
      }
      .link_text {
        font-size: 12px;
      }
    }

    .menu {
      font-size: 24px;

      .active {
        text-shadow: 2px 0px 0px var(--shadow-color);
      }
    }
  }
}
