.project {
  // background-color: rgba(255, 255, 255, 0.15);
  height: 60vh;
  margin: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .image {
    width: 48%;
  }

  .description {
    width: 48%;
    .description_title {
    }
    .description_text {
    }
    .description_link {
    }
  }
}
