.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  transition: 1s;
  padding: 0 10vw;

  span {
    width: 30vw;
    text-align: center;
    transition: 0.25s;
  }

  .space {
    width: 440px;
    height: 400px;
  }
}
