@import 'mixins';

// Fullpage.js extra styles

.fp-slidesNav.fp-bottom {
  display: flex;
  justify-content: center;

  span {
    background: var(--main-color);
  }
}

// Fullpage.js override for arrow styles

.fp-controlArrow {
  margin-top: -20px !important;
  transition: 0.2s;
  
  @include mobile {display: none;}

  @keyframes arrow-shadow-next {
    from {
      filter: drop-shadow(0px 0px 0px var(--shadow-color));
    }
    to {
      filter: drop-shadow(3px 0px 0px var(--shadow-color));
    }
  }

  @keyframes arrow-shadow-prev {
    from {
      filter: drop-shadow(0px 0px 0px var(--shadow-color));
    }
    to {
      filter: drop-shadow(-3px 0px 0px var(--shadow-color));
    }
  }

  &.fp-next {
    border-width: 20px 0 20px 15px !important;
    right: 5vw !important;
    border-color: transparent transparent transparent var(--main-color) !important;

    &:hover {
      transform: scale(1.2);
      animation: arrow-shadow-next 0.5s ease infinite alternate;
    }
  }

  &.fp-prev {
    border-width: 20px 15px 20px 0 !important;
    left: 5vw !important;
    border-color: transparent var(--main-color) transparent transparent !important;

    &:hover {
      transform: scale(1.2);
      animation: arrow-shadow-prev 0.5s ease infinite alternate;
    }
  }
}
