.main-color {
  color: var(--main-color);
}

.shadow-color {
  color: var(--shadow-color);
}

.shadow {
  text-shadow: 4px 0px 0px var(--shadow-color);
}

.shadow-s {
  text-shadow: 2px 0px 0px var(--shadow-color);
}
