// @import 'theme';
@import 'fullpage-override';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400&family=IBM+Plex+Sans:wght@500&display=swap');

:root {
  --main-color: #ffdd7c;
  --shadow-color: #1c8ef1;
  --background-color: #111111;
  --text-color: #ffffff;

  --logo-width: 440px;
  --logo-height: 400px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  background-color: var(--background-color);
  // scroll-behavior: smooth;
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

strong {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration-skip-ink: auto;
}

.emoji {
  font-size: 1.2rem;
}

.comment {
  color: #aaa;
}

/* 2K */
@media only screen and (min-width: 2000px) {
  :root {
    --logo-width: 660px;
    --logo-height: 600px;
  }
}

/* Laptop */
@media only screen and (max-width: 1407px) {
  :root {
    --logo-width: 330px;
    --logo-height: 300px;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  :root {
    --logo-width: 330px;
    --logo-height: 300px;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  :root {
    --logo-width: 220px;
    --logo-height: 200px;
  }

  .emoji {
    font-size: 1rem;
  }
}

/* Mobile OLD*/
@media only screen and (max-width: 380px) {
  :root {
    --logo-width: 110px;
    --logo-height: 100px;
  }
}
