// @import 'theme';
@import 'text-styles';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400&family=IBM+Plex+Sans:wght@500&display=swap');

:root {
  --main-color: #ffdd7c;
  --shadow-color: #1c8ef1;
  --background-color: #111111;
  --text-color: #ffffff;

  --screen-mobile: (max-width: 767px);
  --screen-tablet-from: (min-width: 768px);
  --screen-tablet-until: (max-width: 1023px);
  --screen-desktop-from: (min-width: 1024px);
  --screen-mdpi-laptop-until: (max-width: 1279px);
  --screen-mdpi-until: (max-width: 1407px);
  --screen-hdpi-from: (max-width: 1408px);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  background-color: var(--background-color);
  scroll-behavior: smooth;
  color: var(--text-color);
}

@media screen and (max-width: 1408px) {
  body {
    background-color: #333;
  }
}

strong {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration-skip-ink: auto;
  // text-decoration: none;
}

* {
  box-sizing: border-box;
}

.emoji {
  font-size: 1.2rem;
}

.comment {
  color: #aaa;
}

// Fullpage.js extra styles

.fp-slidesNav.fp-bottom {
  display: flex;
  justify-content: center;

  span {
    background: var(--main-color);
  }
}

// Fullpage.js override for arrow styles

.fp-controlArrow {
  margin-top: -34px !important;
  transition: 0.2s;

  @keyframes arrow-shadow-next {
    from {
      filter: drop-shadow(0px 0px 0px var(--shadow-color));
    }
    to {
      filter: drop-shadow(6px 0px 0px var(--shadow-color));
    }
  }

  @keyframes arrow-shadow-prev {
    from {
      filter: drop-shadow(0px 0px 0px var(--shadow-color));
    }
    to {
      filter: drop-shadow(-6px 0px 0px var(--shadow-color));
    }
  }

  &.fp-next {
    border-width: 34px 0 34px 30px !important;
    border-color: transparent transparent transparent var(--main-color) !important;

    &:hover {
      transform: scale(1.2);
      animation: arrow-shadow-next 0.5s ease-in-out infinite alternate;
    }
  }

  &.fp-prev {
    border-width: 34px 30px 34px 0 !important;
    border-color: transparent var(--main-color) transparent transparent !important;

    &:hover {
      transform: scale(1.2);
      animation: arrow-shadow-prev 0.5s ease-in-out infinite alternate;
    }
  }
}
