// @import 'theme';
@import 'fullpage-override';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400&family=IBM+Plex+Sans:wght@500&display=swap');

:root {
  --main-color: #ffdd7c;
  --shadow-color: #1c8ef1;
  --background-color: #111111;
  --text-color: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  background-color: var(--background-color);
  // scroll-behavior: smooth;
  color: var(--text-color);

  @include mobile {
    p {
      line-height: 0.9rem;
    }
  }
}

* {
  box-sizing: border-box;
}

strong {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration-skip-ink: auto;
}

.emoji {
  font-size: 1.2rem;

  @include mobile {
    font-size: 1rem;
  }
}

.comment {
  color: #aaa;
}