@import '../../styles/mixins';

.about {
  height: 100vh;
  max-height: -webkit-fill-available;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 20vw;
  
  @include mobile {margin: 0 30px;}
  @include mobile-old {margin: 0 10px;}

  .card {
    display: flex;
    align-items: center;
    margin: 20px;
    width: 500px;

    @include mobile {
      width: 300px;
      margin: 10px;
      font-size: 0.8rem;
    }
    @include mobile-old {
      width: 250px;
      font-size: 0.6rem;
    }

    .card_avatar_box {
      position: relative;
      width: 30%;

      &:before {
        content: '';
        display: block;
        padding-top: 100%;
      }

      .card_avatar {
        border: none;
        border-radius: 9999px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        background-color: var(--main-color);

        img {
          width: 100%;
        }
      }
    }

    .card_details {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 40px;

      p {
        margin: 4px 0;
      }
      .card_details_logos {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 10px;

        a {
          outline: none;
        }
        svg {
          fill: var(--main-color);
          transition: 0.1s;
          width: 32px;
          height: 32px;

          @include mobile {
            width: 22px;
            height: 22px;
          }
          @include mobile-old {
            width: 16px;
            height: 16px;
          }

          &:hover {
            filter: drop-shadow(2px 0px 0px var(--shadow-color));
          }
        }
      }
    }
  }

  .description {
    margin-top: 50px;

    @include mobile {
      font-size: 0.8rem;
      margin-top: 10px;
    }
    @include mobile-old {
      font-size: 0.6rem;
      margin-top: 0px;
    }

    .big {
      font-size: 1.25rem;
      color: var(--main-color);
      font-weight: 600;

      @include mobile {font-size: 1rem;}
    }

    .description_block {
      display: flex;
    }

    b,
    .link {
      font-weight: 600;
      color: var(--shadow-color);
      
      &:hover {
        color: var(--main-color);
      }
    }


    .resume {
      font-size: 1.25rem;
      font-weight: 600;
      color: var(--main-color);
      text-decoration: underline;

      &:hover {
        color: var(--shadow-color);
      }

      @include mobile {font-size: 1rem;}
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    font-size: 0.8rem;

    @include mobile {bottom: 50px;}
  }
}